div.login__wrapper__container {
	// padding: 5px;
	height: 100vh;
	margin: 0;
	background-image: linear-gradient(
		to bottom right,
		#57cad4,
		#d3dac3,
		#ffb88d,
		#fe857b,
		#f96683
	);
	overflow-y: auto;

	div.children__container {
		padding: 10px;
		background-color: white;
		border-radius: 10px;
	}
}
